h1,
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blue;
    font-weight: bold;
}

h1 {
    text-align: center;
}

img {
    height: auto;
    width: 400px
}

.description {
    color: gray
}